.error500 {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 720px;

	&__text {
		width: 180px;
		font-size: 40px;
		text-align: center;

		div {
			font-size: 20px;
			margin-top: 20px;
		}
	}

	&__button {
		margin-top: 34px;
		width: 200px;

		&::before {
			content: "\2794";
			width: 20px;
			height: 20px;
			transform: rotate(180deg);
			padding-left: 10px;
		}
	}
}
