nav.pageDisplay
    ul.pageDisplay__wrapper
        li.pageDisplay__list Вход
        li.pageDisplay__list Регистрация
        li.pageDisplay__list Чат
        li.pageDisplay__list Чат заглушка
        li.pageDisplay__list Добавить
        li.pageDisplay__list Удалить
        li.pageDisplay__list Загрузить
        li.pageDisplay__list Профиль
        li.pageDisplay__list Изменить данные
        li.pageDisplay__list Изменить пароль
        li.pageDisplay__list Ошибка 404
        li.pageDisplay__list Ошибка 500
            