.button {
	background-color: var(--main-color);
	border: none;
	border-radius: 8px;
	color: #fff;
	padding: 12px;
	width: 280px;
	height: 37px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:hover {
		background: linear-gradient(90.3deg, var(--main-color) -4.36%, #28d1f9 89.24%);
	}
}
