@import './mixins';
@import './variables';
@import './button';
@import '../pages/entrance/entrance.scss';
@import '../pages/chats/chats.scss';
@import '../pages/registration/registration.scss';
@import '../pages/popups/popups.scss';
@import '../pages/profile/profile.scss';
@import '../pages/error404/error404';
@import '../pages/error500/error500';
@import '../pages/pageDisplay/pageDisplay';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container {
	width: 1280px;
	margin: 0 auto 0 auto;
}
* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

body {
	margin: 0;
	position: relative;
}
a {
	text-decoration: none;
}
