//- include ./blocks/libs/_libs.pug
//- include ./pages/pages.pug

//- doctype html
//- head
//-   meta(charset='UTF-8')
//-   meta(http-equiv='X-UA-Compatible', content='IE=edge')
//-   meta(name='viewport', content='width=device-width, initial-scale=1.0')
//-   title Приложение чата
//-   link(rel='stylesheet', href='style/style.scss')
//- body 
//-   main.container(id='app')
//-     //- h1= {{title}}
//-     //- +registration
//-   //-   +entprance
//-   //-   +chats
//-   //-   +profile
//-   //-   +popups('Добавить пользователя', 'Добавить', 'popup__add', 'text', 'login')
//-   //-   +popups('Удалить пользователя', 'Удалить', 'popup__delete', 'text', 'login')
//-   //-   +popups('Загрузите файл', 'Поменять', 'popup__avatar', 'file', 'avatar')
//-   //-   +error500
//-   //-   +error404
//-   //- +pageDisplay

//- script(src='./js/index.ts' type='tsx')
